#pour la bdd
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#pour symfony
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?serverVersion=15&charset=utf8"


# Variables pour Traefik (Backend API)
TRAEFIK_ROUTER_NAME=nom-backend
TRAEFIK_DOMAIN=api.mondomaine.site
TRAEFIK_CERTRESOLVER=letsencrypt

# Variables pour Traefik (Frontend)
TRAEFIK_FRONTEND_ROUTER_NAME=nom-frontend
TRAEFIK_FRONTEND_DOMAIN=mondomaine.site